button:focus, input:focus, textarea:focus {
  outline: none;
}
.App {
  text-align: center;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
  background-color: blue;
}

#root {
  height: 100%;
}

body {
  height: 100vh;
}